<h1>Add some time!</h1>
<div id="table_container">

<% form_for(@task, :url => update_duration_path(@task)) do |f| %>
  <%= f.error_messages %>

  <p id="task_added_time_size">
    <%= f.text_field :added_time %>
    more minutes
    <%= f.submit '+' %>
  </p>
  
<% end %>
</div>
