<h1>Add some time!</h1>
<div id="table_container">
<p>How much time would YOU like to add?</p>

<% form_for Task.find(params[:id]) do |f| %>
  <p>
    <%= f.label 'Time to add (in min)' %>
    <%= f.text_field :added_time %>
  </p>
  
  <p> 
    <%= f.submit 'Add time' %>
  </p>
<% end %>
</div>
