<% content_for :title, "Tasks" %>

<script type="text/javascript">
  var ajax_updater;
  var update_progress;
  var check_time;
  var stopSwitch = true;

  function startTimer(elementID) {
    ajax_updater = new Ajax.PeriodicalUpdater(
    elementID,
    '/tasks/time_left/' + elementID.substring(5).toString(),
  { method: 'get', frequency: 10, decay: 1 }
    );
    check_time = setInterval('checkTime("' + elementID.substring(5).toString() + '")', 5000);
    update_progress = setInterval('updateProgressBar("'+elementID.substring(5).toString()+'")',100);
  }

  function stopTimer() {
    clearInterval(check_time);
    clearInterval(update_progress);
    // jQuery("#progressbar").hide();
    jQuery("#progressbar").css('margin-top', '1em');
  jQuery("#progressbar > div").css({ 'background': '#ABDD58' });
  }

  function updateProgressBar(taskId) {
    // Debugging is fun!
    // console.debug(timeLeft);
    var timeLeft = document.getElementById('timer' + taskId).innerHTML;
    var parsed_time = timeLeft.match(/(\d+):(\d{2})/);
    if (parsed_time != null)
    {
      var minutes = parsed_time[1];
      var seconds = parsed_time[2] / 60;
      var timeFloatLeft = parseFloat(seconds) + parseFloat(minutes);
      var totalTime = parseInt(jQuery("#taskEntry"+taskId+">.duration").html());
    jQuery("#progressbar").progressbar({value: ((parseFloat(totalTime) - timeFloatLeft)/parseFloat(totalTime)) * 100.00});
      jQuery("#progressbar").show();
      jQuery("#progressbar").css("margin-top", "1em");
    jQuery("#progressbar > div").css({ 'background': '#ABDD58' });
    }
  }

  function checkTime(taskId) {
    var timeLeft = document.getElementById('timer' + taskId).innerHTML;
    var timeLeftInt = parseInt(timeLeft);
    var parsed_time = timeLeft.match(/(\d+):(\d{2})/);
    if (parsed_time != null)
    {
      var minutes = parsed_time[1];
      var seconds = parsed_time[2] / 60;
      var timeFloatLeft = parseFloat(seconds) + parseFloat(minutes);
      if (timeFloatLeft <= 0) fail(taskId);
    }
    return timeLeftInt;
  }
  function fail(taskId) {
    window.location = '/tasks/fail/' + taskId;
  }
  function checkOff(taskId) {
  new Ajax.Request('/tasks/finish/' + taskId, { method: 'put' })
    taskDescription = $$('#taskEntry' + taskId + ' td')[1];
    if (taskDescription.className.indexOf('done') == -1) {
      taskDescription.className += ', done';
      Field.disable('checkbox' + taskId);
      ajax_updater.stop();
    }
    else {
      taskDescription.className = taskDescription.className.replace('done', '');
      ajax_updater.stop();
    }
    stopTimer();
  }

  function stopTask(taskId){

    if (stopSwitch == true) {
      // effectively pause the timer
      ajax_updater.stop();
      stopTimer();

      // change progressbar and button colors
    jQuery("#progressbar > div").css({ 'background': 'Red' });
      jQuery("#imgStopTask" + taskId).children("img").attr('src', '/images/circle-green-16.png');

      // set the stop button flag
      stopSwitch = false;
    }
    else {
      // effectively start the timer
      ajax_updater.start();
      //startTimer();

      // change the progressbar and button colors
    jQuery("#progressbar > div").css({ 'background': '#ABDD58' });	
      jQuery("#imgStopTask" + taskId).children("img").attr('src', '/images/circle-red-16.png');

      // set the stop button flag
      stopSwitch = true;
    }
  }

  function save_edit(taskId) {
    var current = document.getElementById('current');
    var val = current.value;
    current.parentNode.parentNode.innerHTML = val;
  new Ajax.Request('/tasks/update/' + taskId, { method: 'post', parameters: {'task[description]': val}});
    return false;
  }
  Event.observe(window, 'load', function() {
    $$('.task_description').each(function(td, index) {
      var taskId = parseInt(td.parentNode.id.replace('taskEntry', ''));
      td.id = 'td' + taskId;
      Event.observe(td.id, 'click', function() {
        if (td.getElementsByTagName('input').length != 0) return;
        td.innerHTML = '<form onsubmit="save_edit('+taskId+');"><input id="current" type="text" value="' + td.innerHTML + '" onblur="save_edit('+taskId+')"/></form>';
        td.getElementsByTagName('input')[0].focus();
      });
    });
    //Event.observe('signinForm', 'submit', checkForm);
    Calendar.setup({
      dateField: 'popupDateField',
      triggerElement: 'popupDateField',
      selectHandler: datePickSelect
    })

  });

  jQuery(document).ready( 
    function() {
      jQuery("#task_description").focus(function() { jQuery("#task_description").css('background-color','#f9f8e4'); });
      jQuery("#task_description").blur(function() { jQuery("#task_description").css('background-color', 'white');});
    });
  

function datePickSelect() {
  y = this.date.getFullYear()
  m = this.date.getMonth()
  d = this.date.getDay()
  dateParam = y*10000+m*100+d
  jQuery("#table_container").load('/tasks/ondate/',  {'date': dateParam})
  Calendar.defaultSelectHandler(this);
}

</script>

<style type="text/css">
  .done { text-decoration: line-through; color: #999; }
</style>

<h1>
</h1>

<div id="addTaskDiv">
<% form_tag(:controller => "tasks", :action => "create") do %>
  <%= text_field_tag(:task_description, nil, :size => "30", :name => "task[description]") %>
  <%= submit_tag("+") %>
<% end %>
</div>

<div id="popupDateField" class="dateField">Select Date</div>

<div style="display: none" id="progressbar"></div>

<br />

<div id="table_container">

  <%= render :partial => "task_list" %>

  <br />


  <% @active_task = Task.find(:all, :conditions => {:active_task => true}) %>
  <% if @active_task %>
  <% end %>


